#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Custom animations for logo and loader */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes l1 {
  0% {
    transform: perspective(150px) rotateX(0deg);
  }
  100% {
    transform: perspective(150px) rotateX(180deg);
  }
}
